@import 'plugin/bourbon/_bourbon.scss';

@media only screen and (max-width: 1100px){
	.user_clothes{
		.cloth{
			width: 31.33%;
    		margin-bottom: 15px;
		}
	}
}

@media only screen and (max-width: 1000px){
	.site_md_container{
		width: 90%;
		padding: 0px 5%;
	}

}

@media only screen and (max-width: 960px){

}

@media only screen and (max-width: 900px){
	.user_clothes{
		.cloth{
			width: 46%;
		    margin-right: 4%;
		    margin-bottom: 20px;
		}
	}
}

@media only screen and (max-width: 850px){
	.site_md_container{
		width: 96%;
		padding: 0px 2%;
	}
}

@media only screen and (max-width: 768px){
	body{
		padding-top: 60px;
	}

	.left_sidebar{
		width: 230px;
		top: 60px;
	}

	.sidebar_nav{
		a{
			font-size: 14px;
			padding: 12px 15px;
		}
	}
	
	.page_content{
		padding: 20px 0 20px 250px;
	}

	.site_header{
		height: 60px;
	}

	.global_navbar{
		height: 60px;

		ul{
			height: 60px;
		}

		a{
			font-size: 14px;
			padding: 23px 25px;
		}
	}

	.site_logo{
		img{
			height: 60px;
		}
	}

	.logout{
		height: 60px;
		.logout-btn{
			font-size: 14px;
		}
	}
}

@media only screen and (max-width: 640px){
	.left_sidebar{
		width: 200px;
		left: -200px
	}

	#trigger-sidebar{
		display: block;
	}

	.sidebar_nav{
		a{
			font-size: 12px;
			padding: 10px 15px;
		}
	}
	
	.page_content{
		padding: 20px 0 20px 20px;
	}

	.global_navbar{
		a{
			padding: 23px 15px;
		}
	}

}

@media only screen and (max-width: 520px){
	.global_navbar{
		display: none;
	}

	.page_content{
		padding: 20px 0px;
	}

	.logout{
		right: 10px;
	}

	.status_msg{
		padding-right: 10px;
		padding-left: 10px;
	}

	.cloth_detail{
		padding-left: 20px;

		.cloth{
			padding: 20px;

			figure{
				width: 100%;
				img{
					width: 100%;
				}
			}

			.info{
				width: 100%;
				padding: 0;
			}
		}
	}

	.user_clothes{
		padding-left: 1%;
		.cloth{
			width: 49%;
			margin-right: 1%;
			margin-bottom: 5px;
		}
	}

	.user_timeline{
		padding-right: 1%;
		padding-left: 1%;
		.timeline_info{
			width: 100%;
			margin-right: 0;
			margin-bottom: 0px;
			margin-top: 5px;
		}

		.profile{
			.profilepic{
				img{
					width: 90px;
					height: 90px;
				}
			}
		}

		.row.row_flex{
			display: block;
		}

		.head_title{
			.accordian-icon{
				display: inline;
			}
		}

		.content{
			display: none;
		}

	}

}

@media only screen and (max-width: 420px){

}
